html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111;
}

h1 {
    font-family: 'Carter One', cursive;
}

.task {
    display: inline;
    font-family: 'Saira', sans-serif;
}

.form-check-input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #c11;
}

.todoList {
    margin: 50px auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.copy {
    position: fixed;
    bottom: 0px;
    margin-left: auto;
    margin-left: auto;
    color: #444;
    text-align: center;
}

.dateTask {
    position: absolute;
    color:#666;
    font-size: 0.75rem;
    right:5px;
    bottom:5px;
}